[submodule "hyprland"]
	path = ~/.config/hypr
	url = https://git.darwincereska.dev/darwincereska/hypr.git
[submodule ".local/share/yadm/.config/hypr"]
	path = .local/share/yadm/.config/hypr
	url = https://git.darwincereska.dev/darwincereska/hypr.git
